.fav-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 12px;
    margin-top: 10px;
}

.fav-value {
    border: 3px solid #ffffff;
    border-radius: 10px;
    width: 205px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(/src/assets/godzilla-1024x576-758x426.jpg);
    background-position: center;
    background-size: cover;
    padding: 8px;
    margin: 5px;
    margin-left: 0px;
    font-weight: bold;
    opacity: 1;
}

h2 {
    border: 3px solid #ffffff;
    border-radius: 10px;
    background-color: rgb(26, 156, 192);
}