.SearchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: dimgray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 200px auto 700px auto;
    padding: 0px 40px;
    max-width: 600px;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
  
  .SearchBar form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
  }
  
  .SearchBar input[type="text"] {
    font-size: 1rem;
    padding: 8px;
    border: none;
    border-radius: 4px;
    outline: none;
    width: 75%;
    margin-right: 10px;
  }
  
  .SearchBar button[type="submit"] {
    font-size: 1rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    background-color: #47a7d6;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .SearchBar button[type="submit"]:hover {
    background-color: #0e5a8e;
  }
